/* Estilos padrão da lista de tarefas */
#lista-tarefas {
    list-style-type: none; /* Remove os marcadores padrão */
    padding: 0;
}

#lista-tarefas li {
    margin-bottom: 10px;
}

/* Estilos alternativos da lista de tarefas */
.estilo-alternativo {
    background-color: lightblue;
    border: 2px solid blue;
    padding: 10px;
}
